#scroll {
	margin: 0 auto;
	position:relative;
	height:;
	overflow:hidden;
	width:660px;
	height:415px;
}
#thumbs {
	background:url(../images/nav.png) no-repeat;
    position:relative;
	width:660px;
	height:80px;
}
.navi {
	margin-left:156px;
	_margin-left:224px;
}
#tools {
	width:9999em;
	position:absolute;
	height:334px;
}
.tool {
	float:left;
	width:660px;
	height:334px;
}
.t {
	padding:0 !important;
	border:0 !important;
}
.t a {
	background:transparent url(../images/nav.png) no-repeat scroll -94px -90px;
	margin-left:0px;
	display:block;
	width:60px;
	float:left;
	height:80px;
	cursor:pointer;
}
.t a.active {
	cursor:default !important;
}

/* CSS sprite for the navigation */
#t0 	    { margin-left:104px; _margin-left:0px;}
#t0.active  { background-position:-94px 0 !important; }
#t0:hover   { background-position:-94px -180px; }
#t0:active  { background-position:-94px -270px; }

#t1			{ background-position:-156px -90px; }
#t1:hover 	{ background-position:-156px -180px; }
#t1:active	{ background-position:-156px -270px; }
#t1.active	{ background-position:-156px 0 !important; }

#t2			{ background-position:-218px -90px; }
#t2:hover 	{ background-position:-218px -180px; }
#t2:active	{ background-position:-218px -270px; }
#t2.active	{ background-position:-218px 0 !important; }

#t3			{ background-position:-280px -90px; }
#t3:hover 	{ background-position:-280px -180px; }
#t3:active	{ background-position:-280px -270px; }
#t3.active	{ background-position:-280px 0 !important; }

#t4			{ background-position:-342px -90px; }
#t4:hover 	{ background-position:-342px -180px; }
#t4:active	{ background-position:-342px -270px; }
#t4.active	{ background-position:-342px 0 !important; }

#t5			{ background-position:-404px -90px; }
#t5:hover 	{ background-position:-404px -180px; }
#t5:active	{ background-position:-404px -270px; }
#t5.active	{ background-position:-404px 0 !important; }

#t6			{ background-position:-466px -90px; }
#t6:hover 	{ background-position:-466px -180px; }
#t6:active	{ background-position:-466px -270px; }
#t6.active	{ background-position:-466px 0 !important; }

#t7			{ background-position:-528px -90px; }
#t7:hover 	{ background-position:-528px -180px; }
#t7:active	{ background-position:-528px -270px; }
#t7.active	{ background-position:-528px 0 !important; }

#t8			{ background-position:-590px -90px; }
#t8:hover 	{ background-position:-590px -180px; }
#t8:active	{ background-position:-590px -270px; }
#t8.active	{ background-position:-590px 0 !important; }