/** FOOD LOG TABS **/
.tabs410
{
    width:410px;
    background: url(../assets/images/tabs410.png) no-repeat;
}
.tabs410L
{
    width:410px;
    background: url(../assets/images/tabs410L.png) no-repeat;
}
.tabs240
{
    width:240px;
    background: url(../assets/images/tabs240.png) no-repeat;
}
ul.tabFoodLog
{
    list-style:none;
    margin:0 !important;
    padding:0;
    height:39px;
    width:410px;
}
ul.tabFoodLog li {
    float:left;
    text-indent:0;
    margin:0 !important;
    color:#fff;
    padding:13px 0 15px 0;
    display:block;
	font-weight:bold;
    list-style-image:none !important;
}
ul.tabFoodLog li a {
    font-size:12px;
	font-weight:bold;
    height: 11px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    margin:0px;
    position:relative;
}
ul.tabFoodLog li a:hover {
	color:#ddd;
}

.divEat
{
	background-image:url(../images/tabs410x172.png);
	height: 172px;
	width: 410px;
	float: left;
	position: relative;
}
#swapFoodCalories {
height:172px;
width:410px;
overflow:hidden;
}
#enterFood, #enterCalories {
height: 172px;
}

.divEatCol1
{
	margin-top:18px;
	margin-left:20px;
	position: relative;
	float: left;
	width: 150px;
}
.divEatCol2
{
	margin-top:18px;
	position: relative;
	float: left;
	width: 120px;
}
.divEatCol3
{
	margin-top:18px;
	position: relative;
	float: left;
	width: 120px;
}
.divEatRow2
{
	position: relative;
	top:25px;
	left:-145px;
	width: 410px;
}
.divDrink
{
	background-image:url(../images/tabs240x172.png);
	height: 172px;
	width: 240px;
	float: left;
	position: relative;
}
.divTemp
{
	text-align:center
}
.divMerry
{
	background-image:url(../images/tabs240x172.png);
	height: 172px;
	width: 240px;
	float: left;
	position: relative;
}





















/** FOOT LOG TABLE **/
/* ---- Some Resets ---- */
p,
table, caption, td, tr, th {
	margin:0;
	padding:0;
	font-weight:normal;
	}
/* ---- Table ---- */
table
{
	border-collapse:collapse;
	margin-bottom:20px;
	width:901px;
	font:12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
caption
{
	text-align:left;
	font-size:15px;
	padding-bottom:10px;
}
table td,
table th
{
	padding:5px;
}
thead th
{
	background:#e0f8fa;
	border-left:1px solid #7cc4ca;
	color:#1d9ca8;
	font-weight:bold;
}
tbody th,
tfoot th
{
	text-align:left;
	padding-left:15px;
}
tbody td,
tfoot td
{
	text-align:center;
	border-left:1px solid #7cc4ca;
	font-style:italic;
}
.topLeft
{
	text-align:left;
	border-left:0px;
	padding:12px 12px 24px 12px;
	border-left:0px;
}
.topRight
{
	text-align:right;
	padding:12px 12px 24px 12px;
	border-left:0px;
}
.food
{
	text-align:left;
	padding-left:15px;
	border-left:0px;
}
.bg0
{
	border-left:0px;
}
.bg00
{
	background:#ffffff;
	border-left:0px;
}
.bg1
{
	background:#b5e2e6;
}
.bg2
{
	background:#e0f8fa;
}
tfoot th
{
	background:#cff6d5;
}
.dailyTotals
{
	position: relative;
	top:-12px;
	left:-16px;
	height:59px;
}
tfoot td
{
	background:#cff6d5;
	font-weight:bold;
}
tbody tr.odd td { 
	background:#fff;
}