@charset "utf-8";
/* CSS Document */


/*** MEMBER PAGES ***/
.divProfile
{
	position: relative;
	float:left;
	background-image:url(../images/profile_main.png);
	height: 415px;
	width: 239px;
	z-index:2;
}
.divProfileName
{
    position: relative;
	left:20px;
	top:17px;
	font-size: 14px;
	font-weight:bold;
	height: 30px;
	width: 190px;
}
.divProfilePhoto
{
    position: relative;
	left:13px;
	top:17px;
	width: 214px;
	height: 200px;
}
.divProfileMessages
{
    position: relative;
	background-image:url(../images/profile_messages.png);
	left:1px;
	top:-3px;
	width: 248px;
	height: 164px;
}
.divProfileEdit
{
    position: relative;
	left:170px;
	top:-24px;
	width: 214px;
	height: 20px;
	color:#000000;
	font-size: 10px;
}
.divProfileEdit a
{
	color:#494c4b;
	text-decoration:none;
}
.divProfileEdit a:hover
{
	color:#000000;
}
.divProfileTab
{
    position: relative;
	left:-230px;
	top:12px;
	height: 397px;
	width: 1px;
	float: left;
	z-index:1;
}
#wrap {
    position:relative;
    left:215px;
    }
#wrap img {
    position:relative;
	left:-222px;
	z-index:2;
	}
.slide-out-div {
	width: 80px;
	height: 393px;
	}
#slide-out-div {
    position:relative;
	left:187px;
	top:-16px;
	z-index:1;
	}




/** TAB Profile Messages **/
.nanotabMessages {width:230px; text-align:left;}
.tabMessages div {clear:left;}
.tabMessages ul
{
	float:left;
	position: relative;
	top: -6px;
	left: -40px;
	width:230px;
	height:30px;
}
.tabMessages li {float:left; list-style:none;}
.tabMessages li a {display:block; width:100px; padding:0 0 0 10px; color:#008899; font-size: 11px; font-weight:bold; line-height: 31px; text-decoration:none;}
.tabMessages li a:hover {color:#229eaa;}
.tabMessages li a.selected {color:#008899; background:url(/assets/images/profile_indicator.png); background-repeat:no-repeat; background-position:47px 25px;}
.nanotabMessages div {display:none; font-size: 10px;}
#messages p, #reminders p
{
	margin: 0px;
	position: relative;
	float:left;
	top: -8px;
	left: 15px;
	width: 224px;
	height: 43px;
	line-height: 16px;
}
#messages p a, #reminders p a
{
	color:#000000;
	text-decoration:none;
}
#messages p a:hover, #reminders p a:hover
{
	color:#008899;
	text-decoration:none;
}

/** TAB 1 **/
.tab1 div {clear:left; padding-left:15px; width:656px; text-align:left;}
.tab1 ul
{
	float:left;
	background:url(/assets/images/tab2_bottomLine.png);
	background-repeat:no-repeat;
	background-position:40px 0px;
	position: relative;
	left: -40px;
	width:656px;
}
.tab1 li {float:left; list-style:none;}
.tab1 li a {display:block; width:136px; padding:4px 0 4px 14px; height:15px; color:#fff; text-decoration:none;}
.tab1 li a:hover {color:#eee;}
.tab1 li a.selected {color:#fff;}

/** TAB 2 **/
.nanotab2 {width:656px; text-align:left;}
.tab2 div {clear:left;}
.tab2 ul
{
	float:left;
	background:url(/assets/images/tab2_bottomLine.png);
	background-repeat:no-repeat;
	background-position:40px 0px;
	position: relative;
	left: -40px;
	width:656px;
}
.tab2 li {float:left; list-style:none;}
.tab2 li a {display:block; width:136px; padding:4px 0 4px 14px; height:15px; color:#fff; text-decoration:none;}
.tab2 li a:hover {color:#eee;}
.tab2 li a.selected {color:#fff;}
.nanotab2 div {display:none; padding-left:15px;}