/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav {float:left; width:600px; font:13px Century Gothic; font-weight:bold;}

ul.tabbernav li {float:left; list-style:none;}
ul.tabbernav li a {display:block; padding:4px 10px; height:15px; color:#656464; text-decoration:none;}
ul.tabbernav li a:hover {background:url(/assets/images/tabNutrMenu_hover.png) no-repeat; background-position:center bottom; color:#000; height:21px;}
ul.tabbernav li.tabberactive a {background:url(/assets/images/tabNutrMenu_bg.png) no-repeat; height:36px;}
ul.tabbernav li.tabberactive a:hover { color: #000;}

.tabNutrSubMenu ul {float:left; width:555px; font:11px Century Gothic; font-weight:bold; line-height:28px;}
.tabNutrSubMenu li {float:left; list-style:none;}
.tabNutrSubMenu li a {display:block; padding:4px 15px; height:15px; color:#27a1ac; text-decoration:none;}
.tabNutrSubMenu li a:hover { color:#008888; height:21px;}
.tabNutrSubMenu li a.selected {background:url(/assets/images/tabNutrSubMenu_bg.png) no-repeat;background-position:center; height:30px;}
.tabNutrSubMenuSub div {display:none; background:#fff; border-top:1px solid #555; border-bottom:1px solid #888; padding:8px; *padding-top:4px; letter-spacing:1px;}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
